name: Print commit difference
on: workflow_dispatch
jobs:
  bump_and_merge:
    name: 'Check commit difference between next and master'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout next branch code'
        uses: 'actions/checkout@v3'
        with:
          fetch-depth: 0
          ref: next

      - name: Detect changes in next wrt master
        id: cdc
        uses: younited/detect-branch-changes-action@v0.1.3
        with:
          base_branch: master

      - name: Print result
        run: echo ${{ steps.cdc.outputs.changed }}

      # - name: Get Commit Difference Count Between Two Branches
      #   id: cdc
      #   uses: jessicalostinspace/commit-difference-action@v1.0.0
      #   with:
      #     base-branch: 'next'
      #     secondary-branch: 'master'
      # - name: Echo count
      #   run: |
      #     echo ${{ steps.cdc.outputs.commit-difference-count }}
